<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      <%= link_to 'rubyslist', root_path %> > <%= link_to @listing.category.name, category_path(@listing.category) %> > <%= link_to @listing.subcategory.name, category_subcategory_path(@listing.category, @listing.subcategory) %>
    </div>
  </div>
</div>
<div class="container">
  <div>
    <button type="button">reply</button>
    posted <%= time_ago_in_words(@listing.created_at) %>
    <h1 class="listing-header"><%= @listing.title %></h1>
    <div class="box">
      <% if @listing.user = current_user %>
        <p><%= link_to 'edit', edit_listing_path %></p>
        <p><%= link_to 'delete', @listing, data: {confirm: "Are you sure?" }, method: :delete %></p>
      <% end %>
    </div>
    <p><%= @listing.description %>
    </p>
  </div>
  <footer>
    <p>post <%= @listing.id %></p>
    <p>posted <%= time_ago_in_words(@listing.created_at) %></p>
  </footer>
</div>
