<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      <%= link_to 'rubyslist', root_path %> > jobs > accounting
    </div>
  </div>
</div>
<div class="container">
  <div>
    <button type="button">reply</button>
    posted <%= time_ago_in_words(@listing.created_at) %>
    <h1 class="listing-header"><%= @listing.title %></h1>
    <div class="box">
      <p>test</p>
    </div>
    <p><%= @listing.description %>
    </p>
  </div>
  <footer>
    <p>post <%= @listing.id %></p>
    <p>posted <%= time_ago_in_words(@listing.created_at) %></p>
  </footer>
</div>
